body{
    display: flex;
    flex-direction: column;
    
}

.header,
.footer{
    background-color: #1f2937;
    color: white;
    display: flex;   
}

.header{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.header-top,
.header-bottom{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}

.content-1{
    display: flex;
    flex-direction: column;
}
.content-1-top{
    display: flex;
    justify-content: center;
}
.content-1-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.content-2{
    background-color: #e5e7eb;
}