body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
    height: 100vh;
    
    
}

.header,
.footer{
    background-color: #1f2937;
    color: white;
    display: flex; 
    height: 20vh;


   
    
}

.header{
    display: flex;
    flex-direction: column;
    


}

.header-top,
.header-bottom{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
}

.content-1{
    display: flex;
    flex-direction: column;
    height: 20vh;
    
    
}
.content-1-top{
    display: flex;
    justify-content: center;
}
.content-1-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.content-2{
    flex-direction: column;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 20vh;
    
    
}

.content-3{
    background-color:white ;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    height: 20vh;
    
    
}

.blue-box{
    background-color: #3882F6 ;
    display: flex;
    padding: 16px;
    
    
}